.header {
    padding: 0;
}

.kd-header {
    color: white;
    width: 80%;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.kd-container {
    width: 80%;
    margin: 0 auto;
}

.kd-layout {
    background-color: white;
    margin-top: 20px;
}

.kd-content {
    margin: 16px;
}